<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 属性和配置文件读入 ,多个用逗号隔开 数据库参数和系统参数 -->
    <context:property-placeholder location="classpath:db.properties"/>

    <!-- 用于连接-数据库 -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url"
                  value="${db.url}?autoReconnect=true&amp;autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="timeBetweenEvictionRunsMillis" value="3600000"/> <!--1 hours-->
        <property name="testWhileIdle" value="true"/>
        <property name="validationQuery" value="select 1 from dual"/>
    </bean>

    <!-- 增加事务管理 -->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>

    <!--使用mybatis-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatisConfig.xml"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!--扫描某个package进行实例-->
    <!--dao-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.qiudao.demo.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!--service-->
    <context:component-scan base-package="com.qiudao.demo.service"/>

    <!--exception-->
    <bean id="exceptionHandler" class="com.qiudao.demo.exception.ExceptionHandler"/>
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="1" />
    </bean>
    <bean id="exceptionView" class="com.qiudao.demo.exception.ExceptionView"/>

    <!--validator-->
    <!-- 以下 validator ConversionService 在使用 mvc:annotation-driven 会自动注册 -->
    <!--
        <bean id="validator"
              class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
            <property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
    &lt;!&ndash;        &lt;!&ndash; 如果不加,默认使用classpath下的 ValidationMessages.properties 此处主要把bean validation的消息查找委托给spring的messageSource &ndash;&gt;
            <property name="validationMessageSource" ref="messageSource" />&ndash;&gt;
        </bean>
    -->

</beans>