<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>spring 异常统一处理</description>

    <bean id="exceptionHandler" class="com.qiudao.demo.mvcModule.exception.ExceptionHandler"/>
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="1" />
    </bean>
    <bean id="exceptionView" class="com.qiudao.demo.mvcModule.exception.ExceptionView"/>


</beans>